{% extends '::base-error.html.twig' %}
{% block title %}{{ parents() }} | {{ 'Error' | trans }}{% endblock %}

{% block body_class %}page-500-full-page{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12 page-500">
            <div class=" number">
                500
            </div>
            <div class=" details">
                <h3>Opps, Something went wrong.</h3>
                <p>
                    We are fixing it!<br />
                    Please come back in a while.<br /><br />
                </p>
            </div>
        </div>
    </div>
{% endblock %}