Hello !

<br />

{% if app.user %}
    {{ app.user.username }} , {{ app.user.usuarioRolesString}}   
    <ul>
        <li>Votaciones</li>
        <li><a href="{{ path('frontend_logout') }}">Salir</a></li>
    </ul>    
{% else %}
    <a href="{{ path('frontend_registro') }}" >Registro</a>
{% endif %}
