<div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: ThebestwebDesign</div> </div>
<div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: USUARIOS 2</div> </div>
<div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: USUARIOS 3</div> </div>
<div class="caja"> <div class="foto_votacion"></div> <div class="descrip">Creado por: USUARIOS 4</div> </div>
<div id="design">DESIGN TEEMSTUDIOS.COM 2014</div>
<div class="limpia_float"></div>  
