{% extends '::base-frontend.html.twig' %}

{% block body %}

        <div id="cuerpo">

            <div class="header_reg"></div>
            <div id="zona_registro">
                <div id="zona_registro_b1">
                    <div id="zona_registro_b2">
                        
                        <div id="crea_cuenta">
                            <p>Crea tu cuenta</p>

                            <label>Nombre de usuario:</label></br>
                            <input class="campo_text" name="" type="text" title="Nombre de usuario" />
                            </br></br>
                            <label>Correo electrónico:</label></br>
                            <input class="campo_text" name="" type="text" title="Correo electrónico" />
                            </br></br>
                            <label>Contraseña:</label></br>
                            <input class="campo_text" name="" type="password" title="Contraseña" />
                            </br></br>
                            <div id="cod_post">
                                <label >Código postal:</label></br>
                                <input class="campo_text cod_postal" name="" type="text" title="Código postal" />
                            </div>
                            <div id="sel_pais">
                                <label >Selecciona tu país:</label></br>
                                <select class="campo_text cod_postal"/></select> 
                            </div>   
                            <div class="limpia_float"></div>
                            <div id="chec_aceptar">
                                <input  name="" type="checkbox" value="" /> 
                                <div id="chec_acepto"><b>Sí, acepto</b> las condiciones legales y políticas de </br>   
                                    privacidad</div>
                            </div>

                            <input id="btn_reg" name="" type="button" value="Registrarse"/>
                        </div>


                        <form class="formulario" action="{{ path('frontend_login_check') }}" method="post">
                        <div id="iniciar">
                            <p>Inicia sesión</p>

                            <label>Escribe tu correo electrónico:</label></br>
                            <input class="campo_text validate[required]" name="_username" type="password" title="Escribe tu correo electrónico" />
                            </br></br>
                            <label>Escribe tu contraseña:</label></br>
                            <input class="campo_text validate[required]" name="_password" type="password" title="Escribe tu contraseña" />

                            <div id="chec_record">
                                <input  name="" type="checkbox" value="" /> 
                                <div id="chec_acepto">Recordar la sesión</div>
                                <div class="limpia_float"></div>
                                <div id="olvid"><a href="#">¿Has olvidado tu <br>contraseña?</a></div>
                            </div>

                            <input id="btn_entrar" name="" type="button" value="Entrar"/>

                        </div>
                        </form>
                        <div id="design4">DESIGN TEEMSTUDIOS.COM 2014</div>
                    </div>
                </div>
            </div>

        {% if error %}
        {{ error.message }}
       
        {% endif %}
        </div><!-- fin de cuerpo -->

{% endblock %}
